# Logs
logs
*.log

# Node.js
node_modules/

# Built output
dist/

# Environment variables
.env

# Dependency lock files
package-lock.json
yarn.lock

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS specific files
.DS_Store

# NPM debugging
node_modules/**/*.d.ts
node_modules/**/*.map

# Test coverage reports
coverage/

#
